.text-container{
padding-top: 50%;
}



<style>
.coluna{
  float: left;
  width: 33.33%;
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>


@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}